html
  head
    <link rel="stylesheet" href="css/styles4.css" />
    include bootstrapcall.pug
  body
        <footer class="container-fluid footer-dark">
            <div style="background-color:#ccf0f2;">
                <div class="row">
                    <div class="col-sm-12 col-lg-3">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="index_admin">Acceuil </a></li>
                            <li><a href="historique">La liste des plats saisis </a></li>
                            <li><a href="saisieplat">Saisir des plats du traiteur</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <h3>À propos</h3>
                        <ul>
                            <li><a href="apropos_admin">À propos</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <h3>Où nous trouver</h3>
                        <p> 9999 rue de la Mer, St Jean</p>
                        <a href="#"><img class="card-img-top" src="/images/poisson.png" alt="logo" style='width:100px;height:50px;'></a>
                    </div>
                </div>
                <p class="copyright">Le Traiteur Bertin © 2021</p>
            </div>
        </footer>



