html
  head
    title=title
    script(type="text/javascript").
      function Open() {
        window.location.assign("saisieplat");
      }
  body 
    include menu_admin.pug
    p(hidden)= username
    p &#160

    h1(style="text-align: center;")= message
    block content
      div(class="container text-center" style="background-color:#ccffff;")
        div(class="card" )
          div(class="card-header" style="background-color:#e6ffff;")
            h2(class="display-5") Veuillez entrer le plat
          div(class="card-body" style="background-color:#e6ffff;") 
            form(action="ajout_plat_admin" method="POST") 
              span.label le nom: 
              input(type="text" name="nom" placeholder="saisir le nom du plat" pattern="^\s*[a-zA-Z0-9_.]*+@[a-zA-Z0-9_-]*+\.\w{2,4}\s*$ " size="30" maxlength="100",required)
              br
              br
              span.label La description: 
              textarea(name="description" placeholder="saisir la description du plat" rows="2" ,cols="30")
              br
              br
              span.label Options:
              br
              span.label non végétarienne: 
              input(type="radio" id="nonvegetarienne" name="options" value="non végétarienne", checked, required)
              span.label &#160; &#160; végétarienne: 
              input(type="radio" id="vegetarienne" name="options" value="végétarienne", required) 
              br
              br
              span.label Le prix: 
              input(type="text" name="prix" placeholder="9999.99" pattern="[0-9]+([\.,][0-9]+)?" size="30" maxlength="100" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))")
              br
              br
              span.label Actif?: 
              br
              span.label plat actif: 
              input(type="radio" id="actif" name="actif", value=1, checked, required)
              span.label &#160; &#160; plat inactif: 
              input(type="radio" id="inactif" name="actif", value=0, required)
              br
              br
              span.label Sélectionner une photo du plat:&#160; &#160;
              input(type="file" name="image" size="60" accept="image/png, image/jpeg", required)
              //- input(type="text" name="image" placeholder="99.99" pattern="[0-9]{1,2}(.|)[0-9]{0,2}" size="30" maxlength="100")
              br
              br
              input(class="button buttonAjouter" type="submit" value="ajouter ce plat")
include footer_admin.pug